{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'Stallion/history.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>UCSB BETAS</title>
</head>
<body>
<header>

  <nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> ☰
        </button>
        <div id="navbar" class="navbar-collapse collapse">
           <!-- <img class="navbar-brand" src="{% static 'Stallion/logo2.jpg' %}" style="font-size:1px !important;"> -->
            <ul class="nav navbar-nav">
                <li class="active" >
                          <a href="/" class="nav-link"> 
                          <img src="{% static 'Stallion/nav.png' %}" width="auto"
                          style="height:55px !important; margin: -65px; width:70px;">
                          </a>
                </li>
                <li class="active">
                    <a href="/home" class="nav-link">Home</a>
                </li>
                <li>
                    <a href="/actives" class="nav-link">Actives</a>
                </li>
                <li>
                    <a href="/events" class="nav-link">Events</a>
                </li>
                <li>
                    <a href="/strolling" class="nav-link">Strolling</a>
                </li>
                <li>
                    <a href="/recruitment" class="nav-link">Recruitment</a>
                </li>

            </ul>
            <ul class="nav navbar-nav ml-auto">
                    <a href="https://www.facebook.com/UCSBBetas08/" class="nav-link"><i class="fa fa-facebook fa-lg"></i></a>
                <li>
                    <a href="https://www.instagram.com/ucsb_betas/" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a>
                </li>
                <li>
                    <a href="/snap" class="nav-link"><i class="fa fa-snapchat-ghost fa-lg"></i></a>
                </li>
                    <a href="https://twitter.com/ucsbbetas" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
</header>
<div class = "jumbotron a">
    
</div>
<div class="container">
  <div class="row">
    <div class="col-5 card shadow-xl">
      <h6>National History</h6>
      <p>
        During the fall of 1985, Baltazar Mendoza-Madrigal began to explore the idea of establishing a Latino-based fraternity at the University of Iowa.  Having seen the impact , from his organization (Pictured on the right), Phi Beta Sigma Fraternity had on their constituency, Mendoza-Madrigal knew something similar could be done for the Latino interest.  Without knowing the impact he would have almost 30 years down the road, Baltazar starting doing research on this possibility.
        <br><br>
        After months of dedicated research, Mendoza-Madrigal called for a special meeting on March 7, 1986.  Held at the Chicano Indian American Cultural Center (now known as the Latino Native American Cultural Center), this meeting would bring together the Latino students to discuss the feasibility of creating a social fraternity that would focus on the Latino culture.
        <br><br>
        “The Latino community was divided among several social groups at the time,” said Mendoza-Madrigal.  The enthusiasm in favor of establishing a social fraternity that could help in unifying the community was so great that word started to spread quickly across the University of Iowa campus.  Everyone knew that something great was about to take place.  After much planning, the ideology and philosophy of this new organization were finalized on April 4th, 1986.  Henceforth, this day is recognized as the official founding date of Sigma Lambda Beta International Fraternity at The University of Iowa.
        <br>
        <br>
      </p>
    </div>
    <div class = "col-1">
    </div>
    <div class="col-6 card shadow-xl">
      <img src ="{% static 'Stallion/alpha.png' %}">
      <br>
      <br>
      <img src ="{% static 'Stallion/balta.png' %}">
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-5 card shadow-xl">
      <h6>Our Founding Fathers</h6>
      <ul>
          <li>Bro. Mario Buendia</li>
          <li>Bro. Enrique Carbajal</li>
          <li>Bro. Thomas Carrasquillo</li>
          <li>Bro. Manuel Chavarria</li>
          <li>Bro. Jose Fong</li>
          <li>Bro. Rodolfo Garza</li>
          <li>Bro. Luis Jimenez</li>
          <li>Bro. Luis Marquez</li>
          <li>Bro. Baltazar Mendoza-Madrigal</li>
          <li>Bro. Eric Montes</li>
          <li>Bro. Kuy Ou</li>
          <li>Bro. Olakunle Oyeyemi</li>
          <li>Bro. Jaime Ramirez</li>
          <li>Bro. Olivero Rivera</li>
          <li>J.J.R.C.</li>
          <li>Bro. Eugenio Soria</li>
          <li>Bro. Juan Valdez</li>
          <li>Bro. Ricardo Zamudio</li>
      </ul>
    </div>
    <div class = "col-1">
    </div>
    <div class="col-6 card shadow-xl">
      <h6>Quick Facts</h6>
      <p>
        <b>Our Founding Date:</b>  April 4th, 1986
        <br>
        <b>Our Nicknames:</b> Lambda Betas or Betas.
        <br>
        <b>Our Principles:</b> Brotherhood, Scholarship, Community Service & Cultural Awareness.
        <br>
        <b>Our Mission:</b> 
        To nurture and further a dynamic, values-based environment which utilizes our historically Latino based fraternity as a catalyst to better serve the needs and wants of all people.
        <br>
        <b>Our Colors:</b>Royal Purple & Pure White.
        <br>
        <b>Our Flower: </b>Red Carnation.

      </p>
    </div>
  </div>
</div>
<div class = "jumbotron b" style="margin-top: 50px;">
</div>
<div class="container">
  <div class="row">
    <div class="col-5 card shadow-xl">
      <h6>Our Founding Chapter Brothers</h6>
      <ul>
          <li style="font-size: 1.75rem;">Bro. Andrew "Philos" Ortiz </li>
          <li style="font-size: 1.75rem;">Bro. Jonathan "Ares" Palacios</li>
          <li style="font-size: 1.75rem;">Bro. David "Dictador" Guzman </li>
          <li style="font-size: 1.75rem;">Bro. Cory "Cayetano" Calderon </li>
          <li style="font-size: 1.75rem;">Bro. Francisco "Assisi" Amezquita </li>
          <li style="font-size: 1.75rem;">Bro. Edgar "Zamorano" Bermudez</li>
          <li style="font-size: 1.75rem;">Bro. Alexandro "Consulente" Zambrano-Tamayo</li>
          <li style="font-size: 1.75rem;">Bro. Michael "Luz Eterna" Grambow </li>
          <li style="font-size: 1.75rem;">Bro. Alejandro "Guardian" Tejedal</li>
      </ul>
      <br>
       <img src ="{% static 'Stallion/chapter3.jpg' %}">
    </div>
    <div class = "col-1">
    </div>
    <div class="col-6 card shadow-xl">
      <img src ="{% static 'Stallion/chapter1.jpg' %}">
      <br>
      <br>
      <img src ="{% static 'Stallion/chapter2.jpg' %}">
    </div>
  </div>
  <br>
  <br>
</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
